#app {
    font: 14px 'Helvetica Neue', Helevtica, Arial, sans-serif;
    color: #4d4d4d;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}

a.active {
    color: orange;
}

nav {
    padding-top: 20px;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 85px;
    height: 85px;
    animation: spin 1.5s linear infinite;
}

.center {
    margin: auto
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.flex-container {
    display: flex;
}

.margin-top {
    margin-top: 1rem;
}


.react-datepicker {
    font-size: 1.3rem !important;
}


.react-datepicker__current-month {
    font-size: 1.5rem !important;
}


.react-datepicker__header {
    padding-top: 6px !important;
}


.react-datepicker__navigation {
    top: 13px !important;
}


.react-datepicker__day-name, .react-datepicker__day {
    margin: 0.5rem !important;
}


.react-datepicker__input-container {
    width: inherit;
}

.react-datepicker-wrapper {
    width: 100%
}